  <div id="my-resume" class="resume">
    <div class="skills">
      <h3>Skills</h3>
      <p>JavaScript, NodeJS, Angular1.x, Angular2, Typescript, ReactJS, Ionic, Python, Django, HTML, Sass,
        CSS, Karma, Mocha, Chai, Protractor, Postgres SQL, MongoDB, AWS, Heroku</p>
    </div>
    <div class="work-history">
      <h3>Work History</h3>
      <ul>
        <li>
          <p>Mar 2016 - Aug 2016</p>
          <p>Front End Developer – Independent Contractor</p>
          <p>Stuffmapper.com</p>
          <p>Duties: Implementation of wireframes and new components (settings, dynamic search and filter)</p>
          <p>Tech used: Angular, HTML5, CSS3, Sass, Ionic, Google Maps and various APIs</p>
        </li>
        <li>
          <p>Dec 2015 - Mar 2016</p>
          <p>Front End Developer – Independent Contractor</p>
          <p>Erin Skipley (Celebrity Make-Up Artist)</p>
          <p>Duties: Rewrite site to be a responsive web app that is accessible, and written in semantic markup.</p>
          <p>Tech used: JavaScript, HTML5, CSS3 and Sass</p>
        </li>
        <li>
          <p>Dec 2015 - Present</p>
          <p>Front End Developer – Independent Contractor</p>
          <p>Sturdywell/p>
          <p>Duties: Give site an elegant look and feel with the use of a card based design. It is also responsive, accessible, and written in semantic markup.</p>
          <p>Tech used: JavaScript, Angular, HTML5, CSS3, Sass</p>
        </li>
        <li>
          <p>Aug 2005 - Present</p>
          <p>Professional Actor</p>
          <p>Screen Actors Guild</p>
          <p>I have worked along side JJ Abrams, Ridley Scott and Samuel L Jackson.
             I have also appeared in over 40 national commercials and worked Off-Broadway theatre.</p>
        </li>
      </ul>
      <h3>Project</h3>
      <p>CATCH:</p>
      <p> A mobile app to assist in amber alerts. The user can press an alert button to track their location and send data via push notifications to a list of contacts. Alert coordinates are stored in the user's database which is also shared with contact list. This information can be turned over to authorities if needed
      My duties in this project were to write middleware that connected the client and server side. I also used Ionic for the front end.</p>
      <p>Tech used: JavaScript, NodeJS, AngularJS, Ionic, Cordova, Google Maps API, HTML, CSS, Mocha, Chai, Protractor, MongoDB, bcrypt, Eat</p>
    </div>
    <div class="education">
      <h3>Education</h3>
      <p><b>Code Fellows. Seattle WA, 2015</b></p>
      <p>Certificate: Advanced JavaScript Development</p>
      <p>Certificate: Intermediate Python Development</p>
      <p><b>City College of New York, 2007</b></p>
      <p>BA: Advertising and Public Relations</p>
    </div>
  </div>
